In [1]:
203

from platform import python_version

print(python_version())

3.8.5

In [2]:
jupyter kernelspec list

SyntaxError: invalid syntax (<ipython-input-2-68dcfb427789>, line 1)

In [71]:
import pandas as pd #pandas is used for Data Modeling, Analysis, etc

cars = { 'Brand': ['Honda','Toyota','Ford'],
       'Price': [22000,25000,27000]} #example of certain  dataset about cars

cars_df = pd.DataFrame(cars,columns = ['Brand','Price'])
#Dataframe = 2-dimensional labeled data structure with columns of potentially different types
#Plotting Dataset become 2D data structure/Data Frame. Column name is according to collumn name in the dataset

print(cars_df)

    Brand  Price
0   Honda  22000
1  Toyota  25000
2    Ford  27000

In [72]:
cars_df = pd.DataFrame(cars,columns = ['Brand','Price'],index=['Car 1','Car 2','Car 3'])
#Notice that in above coding the syntax "index" is added. This is used to change the name of the row

print(cars_df)

        Brand  Price
Car 1   Honda  22000
car 2  Toyota  25000
car 3    Ford  27000

In [73]:
cars_df['Year']=[2010,2011,2012] #adding new Collumn to cars_df without altering cars dataset

cars_df.insert(1,'Model',['Civic','Prius','Tomato'],True)
#insert is used also to add new Collumn to dataframe (just like the above syntax)
#differences = insert allowed us to insert collumn in a specific part, not in last collumn
#syntax (name).insert((index[0-xx],(collumn name),(Dataset),(Allow multiple same collumn name?)))
#note if we set False, it will not allow us to use the same collumn name, such as Brand or Price

print(cars_df)

        Brand   Model  Price  Year
Car 1   Honda   Civic  22000  2010
car 2  Toyota   Prius  25000  2011
car 3    Ford  Tomato  27000  2012

In [74]:

cars_df['Discount'] = 0.1*cars_df['Price'] #using collumn data for calculation

cars_df['Dicounted Price']=cars_df['Price']-cars_df['Discount']


print(cars_df)

        Brand   Model  Price  Year  Discount  Dicounted Price
Car 1   Honda   Civic  22000  2010    2200.0          19800.0
car 2  Toyota   Prius  25000  2011    2500.0          22500.0
car 3    Ford  Tomato  27000  2012    2700.0          24300.0

In [76]:
#add new data
NewCar = {'Brand':'Hyundai','Model':'Avante','Price':20000,'Year':2032}
cars_df = cars_df.append(NewCar,ignore_index=True) 
#ignore_index is set to true so the Row name could have connection(0,1,2,3).
#Error if false due to unknown name index (py no understand string)
print(cars_df)

     Brand   Model  Price    Year  Discount  Dicounted Price
0    Honda   Civic  22000  2010.0    2200.0          19800.0
1   Toyota   Prius  25000  2011.0    2500.0          22500.0
2     Ford  Tomato  27000  2012.0    2700.0          24300.0
3  Hyundai  Avante  20000     NaN       NaN              NaN
4  Hyundai  Avante  20000     NaN       NaN              NaN

In [78]:
#notice Disc and Disc Price is not updated due to data is added after disc calc
#put line before disc and disc price

cars_df = pd.DataFrame(cars,columns = ['Brand','Price'],index=['Car 1','car 2','car 3'])
cars_df['Year']=[2010,2011,2012]
cars_df.insert(1,'Model',['Civic','Prius','Tomato'],True)

NewCar = {'Brand':'Hyundai','Model':'Avante','Price':20000,'Year':2032}
cars_df = cars_df.append(NewCar,ignore_index=True) 

cars_df['Discount'] = 0.1*cars_df['Price']
cars_df['Dicounted Price']=cars_df['Price']-cars_df['Discount']
print(cars_df)

     Brand   Model  Price  Year  Discount  Dicounted Price
0    Honda   Civic  22000  2010    2200.0          19800.0
1   Toyota   Prius  25000  2011    2500.0          22500.0
2     Ford  Tomato  27000  2012    2700.0          24300.0
3  Hyundai  Avante  20000  2032    2000.0          18000.0

In [86]:
#due to using appendand ignore index, row name resets to index (cars x -> x)
#use .loc to resolve this issue

cars_df = pd.DataFrame(cars,columns = ['Brand','Price'],index=['Car 1','Car 2','Car 3'])
cars_df['Year']=[2010,2011,2012]
cars_df.insert(1,'Model',['Civic','Prius','Tomato'],True)

cars_df.loc['Car 4'] =  {'Model':'Avante','Brand':'Hyundai','Price':20000,'Year':2032}
#by using loc, we can specify row name unlike append
#This could be written as -> cars_df.loc['Car 4'] = ['Hyundai','Avante','20000','2032']
#However running using that syntax requires the same collumn position name
#safer using above method

cars_df['Discount'] = 0.1*cars_df['Price']
cars_df['Dicounted Price']=cars_df['Price']-cars_df['Discount']
print(cars_df)

         Brand   Model  Price  Year  Discount  Dicounted Price
Car 1    Honda   Civic  22000  2010    2200.0          19800.0
car 2   Toyota   Prius  25000  2011    2500.0          22500.0
car 3     Ford  Tomato  27000  2012    2700.0          24300.0
Car 4  Hyundai  Avante  20000  2032    2000.0          18000.0

In [102]:
#due to using appendand ignore index, row name resets to index (cars x -> x)
#use .loc to resolve this issue

cars_df = pd.DataFrame(cars,columns = ['Brand','Price'],index=['Car 1','Car 2','Car 3'])
cars_df['Year']=[2010,2011,2012]
cars_df.insert(1,'Model',['Civic','Prius','Tomato'],True)
cars_df.loc['Car 4'] =  {'Model':'Avante','Brand':'Hyundai','Price':20000,'Year':2032}

#updating data by using Row Name
cars_df.loc['Car 3'] = ['Suzuki','Savante','26000','2022']
#if updating cannot use the {} syntax
#cars_df.loc['Car 3'] = {'Model':'Avante','Brand':'Hyundai','Price':999999,'Year':2032}

cars_df['Discount'] = 0.1*cars_df['Price']
cars_df['Dicounted Price']=cars_df['Price']-cars_df['Discount']
print(cars_df)

         Brand   Model   Price  Year Discount Dicounted Price
Car 1    Honda   Civic   22000  2010     2200           19800
Car 2   Toyota   Prius   25000  2011     2500           22500
Car 3  Hyundai  Avante  999999  2032  99999.9          899999
Car 4  Hyundai  Avante   20000  2032     2000           18000